<!-- JS selector for site. -->

<!-- commons -->
<script src="{{ '/assets/js/dist/commons.min.js' | relative_url }}"></script>

<!-- page specified -->
{% if page.layout == 'post' %}
  <script src="{{ '/assets/js/dist/post.min.js' | relative_url }}"></script>
{% endif %}

{% if page.layout == 'home' %}
  <script src="{{ '/assets/js/dist/home.min.js' | relative_url }}"></script>
{% endif %}

{% if page.layout == 'categories' %}
  <script src="{{ '/assets/js/dist/categories.min.js' | relative_url }}"></script>
{% endif %}

{% if page.layout == 'archives' %}
  <script src="{{ '/assets/js/dist/archives.min.js' | relative_url }}"></script>
{% endif %}

{% if page.layout == 'tags' %}
  <script src="{{ '/assets/js/dist/tags.min.js' | relative_url }}"></script>
{% endif %}

{% if page.layout == 'page' %}
  <script src="{{ '/assets/js/dist/page.min.js' | relative_url }}"></script>
{% endif %}

<!-- HTB notifications -->
<script src="{{ '/assets/js/htb-notifications.js' | relative_url }}"></script> 