{% if page.is_retired %}
  <!-- Show post content as usual -->
  {{ content }}
  <!-- Ensure image paths are correctly resolved -->
  {% assign images = site.posts | where: "slug", page.slug %}
  {% for post in images %}
    {% assign images = post.images %}
    {% for image in images %}
      <img src="{{ image | relative_url }}" alt="Image for {{ page.title }}">
    {% endfor %}
  {% endfor %}
{% else %}
  <div class="htb-warning">
    <h2>Content Not Available</h2>
    <p>This write-up is for an active HTB machine and cannot be publicly displayed. 
    Please check back once the machine is retired.</p>
    <p>
      See <a href="https://help.hackthebox.com/en/articles/5184601-writeups-policy" target="_blank">HTB’s write-up policy</a> for more info.
    </p>
  </div>
{% endif %}
